*{
  color: wheat;
}
body{
  background-color: black;
}
h1{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
  text-decoration: underline;
}
.Navbar{
  display: flex;
  justify-content: space-between;
  background-color: rgb(67, 126, 193);
  font-size: x-large;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 10px;
}
.link{
  display: flex;
  align-items: center;
  gap: 40px;
}
